@use '@carbon/react';
@use '@carbon/react/scss/grid';
@include grid.flex-grid();

.boder-product {
    border: solid 1px #dddddd;
    border-left: none;
    border-right: none;
}
.boder-product-moddle {
    border: solid 1px #dddddd;
}
.border-right {
    border-right: solid 1px #dddddd;
}
.border-top {
    border-top: solid 1px #dddddd;
}
.border-bottom {
    border-bottom: solid 1px #dddddd;
}
.flex-mode {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
}
.flex-percent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.product-item {
    height: 400px;
    padding: 40px;
    flex: 1;
}
.footer-margin {
    margin-top: 10px;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
